@font-face {
    font-family: 'Fira Code';
    src: url('../FiraCode-VariableFont_wght.ttf');
}

* {
    text-align: center;
    margin: auto;
    font-weight: lighter;
}

body {
    font-family: 'Fira Code';
}

main {
    margin: 1rem;
}

table,
thead,
th {
    padding: 1rem;
}

input {
    text-align: left;
    border-color: gray;
    border-width: 1px;
    border-radius: 0.75rem;
    padding: 0.25rem;
    height: 25px;
}

button {
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px gray solid;
    background-color: white;
    transition: 0.3s;
}

button:hover {
    background-color: gray;
    border: 1px white solid;
}